/* .navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.178);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
} */
